# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Variables de entorno
.env